<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="gemini-naming" sequenceNumber="60">
	<locations>
		<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.osgi" version="3.5.2.R35x_v20100126"/>
			<repository location="http://download.eclipse.org/eclipse/updates/3.5/"/>
		</location>
		<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
			<unit id="osgi.enterprise" version="4.2.0.v201108120515"/>
			<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository/"/>
		</location>
	</locations>
</target>
